<div align="center">
  <h1>Images</h1>
  <span>
    <%= link_to 'New Image', new_image_path %>
  </span> |
  <span>
    <%= link_to 'Image List', images_path %>
  </span>
  <div>
    <% if @single_tag %>
      <span> Showing images for tag: <%= content_tag(:strong, @single_tag) %> </span>
    <% else %>
      <span> Showing all images! </span>
    <% end %>
  </div>
  <hr>
  <%= %>
  <% @images.each do |image| %>
    <%= render 'tags', image: image %>
    <%= image_tag(image.link, :width => '400px') %>
  <% end %>
  <hr>
</div>

