<div align="center">
  <h1>Images</h1>
  <span>
    <%= link_to 'New Image', new_image_path %>
  </span> |
  <span>
    <%= link_to 'Image List', images_path, :class => 'js-index-btn' %>
  </span>
  <div>
    <% if @single_tag %>
      <span> Showing images for tag: <%= content_tag(:strong, @single_tag) %> </span>
    <% else %>
      <span> Showing all images! </span>
    <% end %>
  </div>
  <hr>
  <div class="js-image-list">
    <% @images.each do |image| %>
      <div class="js-single-image">
        <%= render 'img-info', image: image %>
        <%= image_tag(image.link, :width => '400px', :class => 'js-img') %>
      </div>
    <% end %>
  </div>
  <hr>
</div>

